h1{
  color: blue;
  text-align: center;
}
img{
  float: left;
}
body{
  background-color: lightgray;
}
.box{
  border: 2px solid black;
  padding: 2px;
}
.projects p a {
  font-weight: bold;
}
.schools p a {
  font-style: italic;
}
