h1{
  color: blue;
  text-align: center;
}
img{
  float: left;
}
body{
  background-color: lightgray;
}
.box{
  border: 2px;
  padding: 6px;
  margin: 20px;
}
.projects p a {
  font-weight: bold;
}
.schools p a {
  font-style: italic;
}
.columns{
  width:auto;
}
.columnleft {
  width: 80%;
  float:none;
  align-self: flex-start;
  border: 1px;
}
.columnright {
  width:80%;
  float: none;
  align-self: flex-end;
  border: 1px;
}
