h1{
  color: blue;
  text-align: center;
}
img{
  float: left;
}
body{
  background-color: lightgray;
}
.box{
  /*border: 2px solid black;*/
  padding: 6px;
  margin: 20px;
}
.projects p a {
  font-weight: bold;
}
.schools p a {
  font-style: italic;
}
.columnleft {
  width: 310px;
  float: left;
  border: 1px solid black;
}
.columnright {
  width: 310px;
  float: right;
  border: 1px solid black;
}
